@import "normalize";

html {
  font-size: 16px;
  font-family: "微軟正黑體", monospace;
  line-height: 1.4;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.page-header {
  background: #000000;
  color: #ffffff;
  .container {
    text-align: center;
  }
}
.main-menu {
  .container {
    height: 70px;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-start;
  }
  li {
    margin-right: 25px;
    line-height: 70px;
  }
  li a {
    display: block;
  }
  .big {
    display: block;
    line-height: 70px;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    padding: 0 255px 0 225px;

  }
}
.index-image{
  background: url(http://fakeimg.pl/1080x300?font=lobster) no-repeat center center;
  height: 300px;
   background-size:cover; 
}

.hot {
  font-size: 36px;
  text-align: center;
}
.hot-items {
  h2 {
    text-align: center;
  }
  h3 {
    margin: 3px 0;
    text-align: center;
  }
  h4 {
    margin: 3px 0;
    text-align: center;
  }
  ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
    padding-right: 10px;
  }
}
.slogan {
  background: #686868;
  .container {
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
  }
  h1 {
    margin: 0;
    padding: 20px 0;
  }
  .slogan-content {
    line-height: 2;
  }
}
.email {
  background: #ddd;
  .container {
    height: 300px;
    text-align: center;
    vertical-align: middle;
  }
  .first {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
  }
  span {
    display: block;
    position: relative;
    left: 1.2px;
    margin-bottom: 15px;
  }
  .text {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    margin: 0 auto 15px;
    width: 500px;
  }
  .text input {
    padding: 0;
    border: 0;
    width: 500px;
    position: relative;
  }
  .button {
    margin: 0 auto;
    width: 500px;
  }
  .button button {
    width: 500px;
    background: #000000;
    color: #fff;
    margin-bottom: 15px;
  }
  i {
    position: relative;
    left: -235px;
    top: 23px;
    z-index: 3;
  }
  .container .second {
    text-align: center;
  }
}
.footer-menu {
  background: #000000;
}
.page-footer {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  a {
    color: #fff;
    padding-right: 25px;
  }
  .end {
    text-align: center;
    line-height: 30px;
    background: #ddd;
    height: 30px;
  }
  span {
    text-align: center;
  }
}
@media screen and (max-width:1140px){
  .container{
    width: 820px;
  }

  .main-menu 
  {
    li{
      flex: 0 0 4rem;
    }
    #icon{
      flex-basis: 0;
      align-items: flex-end;
    }
    .big{
      flex:1 0 3em;
      padding: 0 100px;
    }
  }
  .hot-items ul{
    justify-content: flex-start;
  }
}
@media screen and (max-width:870px){
  .container{
    width: 700px;
  }
  .main-menu{
    .big{
      padding: 0 30px;
    }
    li{
      font-size: 14px;
    }
  }
  .hot-items ul{
    justify-content: space-around;
  }
}
@media screen and (max-width:728px){
  .container{
    width: 668px;
  }
  .main-menu{
    li{
      margin-right:10px; 
    }
    #icon{
      margin-right:25px; 
    }
    .big{
      padding-left: 70px;
    }
  }
}
@media screen and(max-width:676px){
  .container{
    width: 580px;
  }
  .main-menu{
    .big{
      padding-left:30px; 
    }
  }
}
